---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import type { Product as Typeproduct } from "../types/product";
import Product from "../components/product.astro";
import Navbar from "../components/navbar.astro";

const res = await fetch("https://fakestoreapi.com/products");
const products = await res.json();
---

<Layout>
  <Navbar />

  <main class="main">
    {
      products.map((product: Typeproduct) => (
        <a href={`/products/${product.id}`}>
          <Product product={product} />
        </a>
      ))
    }
  </main>
</Layout>

<style>
  .main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 16px;
  }

  a {
    text-decoration: none;
  }
</style>
