<nav class="nav">
  <header class="header">
    <img src="/bigicon.png" alt="E&F" class="logo" />
    <h1 class="title">Electronic & Fast</h1>
  </header>
  <div class="cart">
    <img src="/cart.svg" alt="cart" class="icon" />
    (0)
  </div>
</nav>

<style>
  .cart {
    display: flex;
    gap: 4px;
    align-items: center;
  }

  .header {
    display: flex;
    gap: 8px;
    align-items: center;
  }
</style>
